.bg-lightgreen{
    background-color: lightgreen;
}
#p1{
    color: red;
}
#p2{
    color: rgb(255, 0, 183);
}
.text-purple{
    color: purple;
}
.text-gray{
    color: blue;
}
.bg-pik{
    background-image: url(../images/pik.jpg);
}
.bg-blue{
    background-color: rgb(150, 184, 252);
}